/* Star icon styles */
body {
background-image: url("https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/300523065_405734285023039_5331321714989284997_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=783fdb&_nc_ohc=Co4TyuCf1E0AX9q-89T&_nc_ht=scontent-ord5-2.xx&oh=00_AfCuHb3vy-6VDA2QL0B1Gvc58JKJlUB6auZCX7o2pnTcyA&oe=65EA7E76");
color:dimgray;
font-style: inherit;
font-family: 'Courier New', Courier, monospace;
}
.fa-star {
    color: #dadbdf; /* Grey color for the unfilled star */
}

.fa-star.filled {
    color: #fbbb07; /* Yellow color for the filled star */
}

/* Container style for stars */

.stars-container {
    display: inline-block;
}
